vidstream
opencv-python
pillow
numpy
base64
builtins
cv2
datetime
filedialog
io
json
math
messagebox
multiprocessing
os
queue
random
scrolledtext
shutil
socket
ssl
string
struct
subprocess
sys
threading
time
tkinter
ttk
uuid
